@import "bourbon/bourbon";
@import "neat/neat";

$first-breakpoint-value: 480px;
$second-breakpoint-value: 768px;
$small-viewport: new-breakpoint(max-width $first-breakpoint-value);
$medium-viewport: new-breakpoint(min-width $first-breakpoint-value max-width $second-breakpoint-value);
$large-viewport: new-breakpoint(min-width $second-breakpoint-value + 1);

@mixin aspect-ratio($width, $height) {
  position: relative;
  &:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: ($height / $width) * 100%;
  }
  > .content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

body {
	background: #fff;
	font-family: NovelPro-Light, serif;
	font-weight: 100;
	font-style: normal;
}

#main, .drawer>div, .drawer>article {
	@include outer-container;
  @include pad(0 default);
	position: relative;
}
.drawer>div, .drawer>article {
  margin-top: 130px;
	@include media($large-viewport) {
		margin-top: 100px;
	}
}

.back {
  display: block;
  border: 0;
  outline: 0;
  position: fixed!important;
    top: 0;
    right: 0;
  height: 100vh;
  width: 5vw;
  background:#fff url(/assets/images/off.svg) center no-repeat;
  cursor:pointer;
  overflow: hidden;
  text-indent: -5000em;
}

.back:hover, .back:active {
  background:#fff url(/assets/images/on.svg) center no-repeat;
}

header {
	position: fixed;
		top: 0;
		left: 0;
	z-index: 100;
	width: 100%;
  background-color: rgba(238, 238, 238, 0);
	div {
		@include outer-container();
    @include pad(0 default);
		@include media($large-viewport) {
			h1, nav {
				@include span-columns(6);
			}
		}
	}
}

.work {
  display: block;
  figure {
  	margin: 0 0 $gutter 0;
  	padding: 0;
  	height: 100vh;
    display: flex;
  }
  h2 {
    opacity: 0;
    width: 100%;
    height: 100vh;
    line-height: 100vh;
    text-align: center;
    position: fixed;
      top: 0;
      left: 0;
  }
}

img {
	max-width: 100%;
	max-height: 100%;
  height: auto;
  vertical-align: middle;
	margin: auto;
	display: block;
}

h1, h2, nav {
	text-transform: uppercase;
}

h1, h2 {
	text-align: center;
	font-size: 36pt;
	line-height: 42pt;
	font-weight: 100;
}

h1, nav {
	margin: 20px 0;
}

article h1 {
  display: block;
  width: 100%;
  height: 75vh;
  line-height: 75vh;
}

nav {
	font-family: "Arial", sans-serif;
  padding: .5vw;
}

nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	text-align: center;
	display: block;
	@include row();
}

nav ul li {
	@include span-columns(4);
}

nav ul li a:link, nav ul li a:visited {
	display: block;
}

nav ul li a span {
	border-bottom: 2px solid rgba(0,0,0,0);
	padding: .25em 0;
}

nav ul li a:hover span, a:active span, nav ul li a.active span {
	border-bottom: 2px solid rgba(0,0,0,1);
}

a:link, a:visited {
	color: #000;
}

a:link, a:visited {
	text-decoration: none;
}

article {
	font-weight: 100;
	padding: 0;
  font-size: 18pt;
	line-height: 24pt;
  @include media($medium-viewport) {
    &{
      font-size: 28pt;
    	line-height: 32pt;
    }
  }
  @include media($large-viewport) {
    &{
      font-size: 36pt;
    	line-height: 42pt;
    }
  }
}

article a:link, article a:visited {
	text-decoration: underline;
}

.WorksThumb {
	@include media($small-viewport) {
		@include span-columns(6);
		@include omega(2n);
	}
	@include media($medium-viewport) {
    @include span-columns(4);
		@include omega(3n);
  }
	@include media($large-viewport) {
    @include span-columns(3);
		@include omega(4n);
  }
	@include aspect-ratio(5, 4 );
	margin-bottom:30px;
	text-align: center;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	overflow: hidden;
}

.WorksThumb:hover {
	background-image: none!important;
}

.WorksThumb:hover span, .WorksThumb:active span {
	border: none;
}

.WorksThumb:hover span {
	opacity: 1;
}

.WorksThumb span {
	@include span-columns(6);
	@include omega(2n);
	@include aspect-ratio(5, 4);
	@include fill-parent();
  padding: $gutter;
	position: absolute;
		top: -55%;
		left: 0;
	text-align: center;
	opacity: 0;
}

/* Author: Danijel Grabež */
/* Twitter: @danijel_grabez */

/* ===========================================
   Page navigation styling
   =========================================== */
.drawer {
  background: rgba(238, 238, 238, 1);
  position: fixed;
    top: 0;
    left: 0;
  width: 0vw;
  height: 100vh;
  -webkit-transition: 0.3s slide ease-in-out;
          transition: 0.3s slide ease-in-out;
}

.drawer>article, .drawer>div {
  display:block;
  overflow-y: scroll;
  height: 90%;
}

.drawer>article, .drawer>div {
  width: 95vw;
  padding-right: 5vw;
  margin-left: 0;
  padding-bottom: $gutter;
}

.drawer--open {
  width: 100vw;
}

// .page-nav {
//  zoom: 1;
// }

/* ===========================================
   Page content styling
   =========================================== */
.page-content {
  -webkit-transition: 0.3s slide ease-in-out;
          transition: 0.3s slide ease-in-out;
}


/* ===========================================
   SmoothState styling
   =========================================== */
.m-scene .scene-main {
  -webkit-animation-duration: .5s;
  -webkit-animation-fill-mode: both;
  -webkit-animation-name: fadeIn;
  animation-duration: .5s;
  animation-fill-mode: both;
  animation-name: fadeIn;
}

.m-scene.is-exiting .scene-main--fadein {
  -webkit-animation-direction: alternate-reverse;
  animation-direction: alternate-reverse;
}

.m-scene .scene-drawer {
  -webkit-animation-duration: .5s;
  -webkit-animation-fill-mode: both;
  -webkit-animation-name: slide;
  animation-duration: .5s;
  animation-fill-mode: both;
  animation-name: slide;
}

.m-scene.is-exiting .scene-drawer {
  -webkit-animation-direction: alternate-reverse;
  animation-direction: alternate-reverse;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slide {
  0% {
    background-color: rgba(255,255,255,0);
    transform: translateX(-100vw);
  }
  100% {
    background-color: rgba(238, 238, 238, 1);
    transform: translateX(0);
  }
}

@keyframes slideRight {
  0% {
    background-color: rgba(255,255,255,0);
    transform: translateX(15vw);
  }
  100% {
    background-color: rgba(255, 255, 255, 1);
    transform: translateX(0);
  }
}
